.forecast-summaries {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.forecast-summaries * {
  flex-grow: 1;
}

.forecast-summaries .forecast-summary:not(:nth-of-type(-n + 2)) {
  margin-top: 2rem;
}

@media (min-width: 561px) {
  .forecast-summaries {
    margin-top: 5rem;
  }

  .forecast-summaries .forecast-summary:not(:nth-of-type(-n + 2)) {
    margin-top: 0;
  }
}