.forecast-summary {
  text-align: center;
}

.forecast-summary .forecast-summary__icon i {
  font-size: 3rem;
  margin: 2rem 0;
}

.forecast-summary p {
  margin: 0;
}

.forecast-summary__temperature p {
  margin-bottom: 0.5rem;
}
