@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
  font-size: 16px;
}

html {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: inherit;
  min-height: inherit;
  background-color: #f3f3f3;
  color: #153253;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
